* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.errorMessage {
    color: red;
}

.errorInput {
    border: red solid 1px;
    color: red;
}

.img {
    height: 200px;
    margin: 10px 0 20px 0;
}

.stema {
    text-align: center;
}

.header {
    text-align: center;
}

.description {
    margin: 35px 0 20px 0;
}

.bodyContent {
    padding: 0 250px;
    margin-bottom: 50px;
    color: navy;
}

.navigationFooter {
    list-style: none;
    padding: 15px 0 0 180px;
    display: flex;
    gap: 50px;
    height: 150px;
    background-color: navy;
    box-sizing: border-box;
}

a {
    color: white;
}

@media screen and (max-width: 768px) {
    body {
        padding: 60px;
    }
    .bodyContent {
        padding: 0;
    }
    .img {
        height: 150px;
    }
    .navigationFooter{
        height: auto;
        padding: 15px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

