body{ min-height:100vh; margin:0; position:relative; }
header{ min-height:50px; background-color: white;}
footer{ background:PapayaWhip; }

/* Trick: */
body {
    position: relative;
}

body::after {
    content: '';
    display: block;
    height: 50px; /* Set same as footer's height */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.errorMessage {
    color: red;
}

.errorInput {
    border: red solid 1px;
    color: red;
}

.img {
    height: 200px;
    margin: 10px 0 20px 0;
}

.header {
    text-align: center;
}

.description {
    margin: 35px 0 20px 0;
}

.bodyContent {
    padding: 0 250px;
    color: navy;
    margin-bottom: 200px;
}

.navigationFooter {
    padding: 15px 0 0 180px;
    display: flex;
    gap: 50px;
    height: 150px;
    background-color: navy;
    box-sizing:border-box;  /* to remove horizontal scroll bar */
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
  }

  a:visited {
    color: blue;
  }

  .submitButton {
      background-color: navy;
      color: white;
      border: 0;
      height: 30px;
      width: 90px;
      border-radius: 7px;
  }

.submitButton:hover {
    color: navy;
    background-color: white;
    border: 2px solid navy;
    cursor: pointer;
}

.dialog {
    height: 20vh;
    width: 50vw;
    padding: 60px 120px;
    text-align: center;
    position: absolute;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.actionButtons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 1024px) {
    .bodyContent {
        padding: 0 160px;
    }
    .img {
        height: 150px;
    }
    .navigationFooter{
        padding: 15px;
    }
}

/* from used directly max: 769 because links at bottom and padding
looked bad from 480 to 769 */
@media screen and (max-width: 769px) {

    .bodyContent {
        padding: 0 60px;
        margin-bottom: 80px;
    }

    /* when fixing links displayed in column, footer was overlaping content before it
    fixed it with 'bottom: auto', not sure why it worked though :P */
    .navigationFooter{
        height: auto;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        bottom: auto;
    }
}

