* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.errorMessage {
    color: red;
}

.errorInput {
    border: red solid 1px;
    color: red;
}

.stema.img {
    height: 200px;
    margin: 10px 0 20px 0;
}

.stema {
    text-align: center;
}

.header {
    text-align: center;
}

.description {
    margin: 35px 0 20px 0;
}

.bodyContent {
    padding: 0 250px;
    margin-bottom: 50px;
}

.navigationFooter {
    list-style: none;
    padding: 15px 0 0 180px;
    display: flex;
    gap: 50px;
    height: 150px;
}
